html {
  background-color: #c9b5ab;
}

body {
  font-family: "PT Serif";
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: normal;
}

h1, h2 {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.125rem;
  color: #8f2440;
}

nav a:hover {
  color: #222;
}

main figure figcaption {
  font-style: italic;
}

main + p {
  font-weight: bold;
  font-size: 1.125rem;
}

main blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

main blockquote cite {
  font-size: 0.8rem;

}
