html {
  background-color: #c9b5ab;
}

body {
  font-family: "PT Serif";
  line-height: 1.5;
  font-size: .8rem;
  font-weight: normal;
}

h1, h2 {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.125rem;
  color: #8f2440;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

main figure figcaption {
  font-style: italic;
  text-align: center;
}

main p {
  font-weight: bold;
  font-size: 1.125rem;
}

main blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

.pratt {
  font-size: .8rem;
}

dl dd {
  font-weight: bold;
}

dl dt {
  font-style: italic;
}

main ol li {
  list-style-type: lower-greek;
}

img {
  width: 100%;
}

a {
  text-decoration: underline;
  color: #8f2440;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}
