body {
  background-color: #c9b5ab;
  font-family: "PT Serif";
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: normal;
}

h1, h2 {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.125rem;
  color: #8f2440;
}
